# vim: set ft=yaml
# yaml-language-server: $schema=https://www.schemastore.org/clang-tidy.json
Checks:
  - -*

  - bugprone-*
  - -bugprone-easily-swappable-parameters

  - clang-analyzer-*

  - concurrency-*

  - cppcoreguidelines-*
  - -cppcoreguidelines-avoid-magic-numbers
  - -cppcoreguidelines-non-private-member-variables-in-classes
  - -cppcoreguidelines-pro-type-union-access
  - -cppcoreguidelines-pro-bounds-pointer-arithmetic
  - -cppcoreguidelines-avoid-do-while

  - misc-*
  - -misc-non-private-member-variables-in-classes
  - -misc-no-recursion

  - modernize-*
  - -modernize-use-trailing-return-type
  - -modernize-avoid-c-arrays
  - -modernize-use-nodiscard
  # - -modernize-pass-by-value

  - objc-*

  - performance-*

  - portability-*

CheckOptions:
  cppcoreguidelines-rvalue-reference-param-not-moved.AllowPartialMove: true
